@model ManageUsersClaimsViewModel
@{
    ViewBag.Title = "Manage User Claims";
    Layout = "_AdminLayout";
    var photoPath = "~/images/profile/" + (Model.ExistingPhotoPath ?? "pix1.jpg");
    var ph = (@Model.PhoneNumber ?? "0808 00000 0000");
    var cit = (@Model.City ?? "Nill");
    var co = (@Model.Country ?? "Nill");
    var lc = $"{cit}, {co}";
}

    <div class="row ml-5 mr-5">

        <!-- left column -->
        <div class="col-sm-12  ml-3 mr-3">
            <!-- general form elements -->
            <div class="card card-primary card-outline">

                <!-- left column -->
                <div class="">
                    <div class="p-4 pb-0">
                        <div class="row  pl-3 pt-3 pr-3">
                            <div class="col-md-5">
                                <div class="d-flex flex-md-wrap align-items-center pb-3">
                                    <div class="image mr-4 ">
                                        <img src="@photoPath" class="img-circle elevation-2" style="width:100px;" alt="@photoPath" asp-append-version="true" />
                                    </div>
                                    <div class="">
                                        <h1 class="card-title" style="font-size:40px;"><b>@Model.LastName @Model.FirstName</b></h1><br /><br />
                                        <div>
                                            <span class="text-muted"><i class="fa fa-briefcase"></i> &nbsp;  @Model.AccountType.ToString()</span> &nbsp; &nbsp;
                                            <span class="text-muted">
                                                <small><a asp-action="#" asp-controller="#"><i class="fa fa-lock"></i> Edit password</a></small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <i class="fa fa-phone-square fa-rotate-90"></i> &nbsp; <span class="text-muted">@ph</span>
                                </p>
                                <p>
                                    <i class="fa fa-envelope"></i> &nbsp; <span class="text-muted">@Model.Email</span>
                                </p>
                                <p>
                                    <i class="fa fa-map-marker-alt"></i> &nbsp; <span class="text-muted">@lc</span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-12">
                    <!-- general form elements -->
                    <div class=" card-gray">

                        <!-- /.card-header -->

                        @*<partial name="_UserRolesPartial.cshtml" />*@
                        <partial name="_UserClaimsPartialEdit.cshtml" />

                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.content-wrapper -->




            </div>
        </div>
    </div>
