@model HomeViewModel
@{
    ViewBag.Title = "Home";
    Layout = "_PublicLayout";
}


    <div style="background:#F4F6F9;">

        <!--Slider-->
        <div class="slider-div">
            <div class="container">
                <div class="slider-area pt-4">
                    <div class="slider-desc animated3 fadeInLeft">
                        <div class="title-wrap"><div class="title"> Your smart choice </div></div>
                        <div class="text">
                            CareersListing offers you the best place to find your dream job.
                        </div>
                        <div>
                            <form class="mt-4 frm-job-search">
                                <div class="input-group selects">
                                    <select class="form-control">
                                        <option value="">--- Job Functions ---</option>
                                        <option value="accounting-auditing">Accounting, Auditing &amp; Finance</option>
                                        <option value="administrative">Administrative &amp; Office</option>
                                        <option value="farming-agriculture">Agriculture &amp; Farming</option>
                                        <option value="building-architecture">Building &amp; Architecture</option>
                                        <option value="social-services">Community &amp; Social Services</option>
                                        <option value="consulting">Consulting &amp; Strategy</option>
                                        <option value="creative">Creative &amp; Design</option>
                                        <option value="customer-service">Customer Service &amp; Support</option><
                                        <option value="employability-soft-skills">Employability &amp; Soft Skills</option>
                                        <option value="engineering">Engineering</option>
                                        <option value="food-services-catering">Food Services &amp; Catering</option>
                                        <option value="health-safety">Health &amp; Safety</option>
                                        <option value="hospitality">Hospitality/Leisure/Travel</option>
                                        <option value="human-resources">Human Resources</option>
                                        <option value="it-software">IT &amp; Software</option>
                                        <option value="legal">Legal Services</option>
                                        <option value="management-business-development">Management &amp; Business Development</option>
                                        <option value="marketing-communications">Marketing &amp; Communications</option>
                                        <option value="medical-pharmaceutical">Medical &amp; Pharmaceutical</option>
                                        <option value="natural-sciences">Natural Sciences</option>
                                        <option value="other">Other</option>
                                        <option value="project-management">Project &amp; Product Management</option>
                                        <option value="quality-control">Quality Control &amp; Assurance </option>
                                        <option value="property-management">Real Estate &amp; Property Management</option>
                                        <option value="teaching-training">Research, Teaching &amp; Training</option>
                                        <option value="sales">Sales</option>
                                        <option value="security">Security</option>
                                        <option value="supply-chain-procurement">Supply Chain &amp; Procurement</option>
                                        <option value="trades-services">Trades &amp; Services</option>
                                        <option value="transport-logistics">Transport &amp; Logistics</option>
                                    </select>
                                    <select class="form-control">
                                        <option value="">--- Industries ---</option>
                                        <option value="advertising-marketing">Advertising &amp; Marketing</option>
                                        <option value="agriculture-fishing">Agriculture, Fishing &amp; Forestry</option>
                                        <option value="art-design">Art &amp; Design</option>
                                        <option value="automotive-aviation">Automotive &amp; Aviation</option>
                                        <option value="banking-finance">Banking, Finance &amp; Insurance</option>
                                        <option value="construction">Construction</option>
                                        <option value="digital-media-comms">Digital, Media &amp; Communications</option>
                                        <option value="education">Education &amp; Training</option>
                                        <option value="energy">Energy &amp; Utilities</option>
                                        <option value="entertainment-events">Entertainment &amp; Events</option>
                                        <option value="government">Government</option>
                                        <option value="healthcare">Healthcare</option>
                                        <option value="hospitality-hotel">Hospitality &amp; Hotel</option>
                                        <option value="internet-telecoms">Internet &amp; Telecommunications</option>
                                        <option value="law">Law</option>
                                        <option value="enforcement-security">Law Enforcement &amp; Security</option>
                                        <option value="operations">Logistics &amp; Transportation</option>
                                        <option value="manufacturing">Manufacturing</option>
                                        <option value="mining-oil">Mining, Oil &amp; Metals</option>
                                        <option value="ngo">NGO</option>
                                        <option value="real-estate">Real Estate</option>
                                        <option value="hr-recruitment">Recruitment</option>
                                        <option value="retail-fmcg">Retail, Fashion &amp; FMCG</option>
                                        <option value="technology">Technology</option>
                                        <option value="tourism-travel">Travel, Tourism &amp; Leisure</option>
                                    </select>
                                    <select class="form-control">
                                        <option value="">--- Locations ---</option>
                                        <option value="abia">Abia</option>
                                        <option value="abuja">Abuja</option>
                                        <option value="adamawa">Adamawa</option>
                                        <option value="akwa-ibom">Akwa Ibom</option>
                                        <option value="anambra">Anambra</option>
                                        <option value="bauchi">Bauchi</option>
                                        <option value="bayelsa">Bayelsa</option>
                                        <option value="benue">Benue</option>
                                        <option value="cross-river">Cross River</option>
                                        <option value="delta">Delta</option>
                                        <option value="ebonyi">Ebonyi</option>
                                        <option value="edo">Edo</option>
                                        <option value="ekiti">Ekiti</option>
                                        <option value="enugu">Enugu</option>
                                        <option value="gombe">Gombe</option>
                                        <option value="oyo">Oyo</option>
                                        <option value="imo">Imo</option>
                                        <option value="jigawa">Jigawa</option>
                                        <option value="kaduna">Kaduna</option>
                                        <option value="kano">Kano</option>
                                        <option value="katsina">Katsina</option>
                                        <option value="kebbi">Kebbi</option>
                                        <option value="kogi">Kogi</option>
                                        <option value="kwara">Kwara</option>
                                        <option value="lagos">Lagos</option>
                                        <option value="borno">Borno</option>
                                        <option value="nassarawa">Nassarawa</option>
                                        <option value="niger">Niger</option>
                                        <option value="ogun">Ogun</option>
                                        <option value="ondo">Ondo</option>
                                        <option value="osun">Osun</option>
                                        <option value="plateau">Plateau</option>
                                        <option value="rivers">Rivers</option>
                                        <option value="sokoto">Sokoto</option>
                                        <option value="taraba">Taraba</option>
                                        <option value="yobe">Yobe</option>
                                        <option value="zamfara">Zamfara</option>
                                        <option value="rest-nigeria">Rest of Nigeria</option>
                                        <option value="nationwide">Nationwide</option>
                                        <option value="outside-nigeria">Outside Nigeria</option>
                                    </select>
                                </div>
                                <div class="input-group mt-1">
                                    <button class="btn btn-primary search-btn" style="font-size:20px; width:100%;">
                                        <i class="fa fa-search"></i> &nbsp; Search
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <img src="~/images/slider/img1.png" class="active animated3 fadeInUp " />

                </div>
            </div>
        </div>


        <!--stats-->
        <div class="stats bg-white pt-4 pb-5">
            <div class="container">
                <div class="title-wrap pb-4 pb-5">
                    <div class="title text-center ">
                        <h2 class="section-sub-heading-title">Our Statistics</h2>
                        <div class="section-sub-heading-desc">The numbers speaks for themselves</div>
                    </div>
                </div>
                <div class="d-flex flex-nowrap stats-box-cover">
                    <div class="stats-box">
                        <h1>1,234</h1>
                        <div class="section-sub-heading-desc">Recent posted jobs</div>
                    </div>
                    <div class="stats-box">
                        <h1>567</h1>
                        <div class="section-sub-heading-desc">Registered companies</div>
                    </div>
                    <div class="stats-box">
                        <h1>8,910</h1>
                        <div class="section-sub-heading-desc">Registered accounts</div>
                    </div>
                </div>
            </div>
        </div>

        <!--Recent jobs-->
        @if(Model.NumberOfListings > 0)
        {
            <div class="recent-posts p-4 ">
                <div class="container">
                    <div class="title-wrap">
                        <div class="title text-center p-4 pb-5">
                            <h2 class="section-sub-heading-title">Most Recent Jobs</h2>
                        </div>
                    </div>
                    @foreach(var listing in Model.Listings)
                    {
                        <div class="row post-cover bg-white text-black-50 ">
                            <div class="col-md-6 d-flex align-items-center flex-nowrap post-row mt-3 mb-3">
                                <div class="post-box col-3">
                                    <div class="logo-cover">
                                        <div class="logo-cover-inner"><i class="fa fa-briefcase fa-2x text-light"></i></div>
                                    </div>
                                    <div><a href="#">@listing.Company.Name</a></div>
                                </div>
                                <div class="post-box col-9">
                                    <div><div class="badge badge-btn badge-info text-capitalize">@listing.Duration</div></div>
                                    <div><h5 class="text-capitalize">@listing.JobTitle</h5></div>
                                    <div class="text-capitalize">In : @listing.Industry </div>
                                    <div><small style="color:#aaa">@listing.DaysAgo</small></div>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex flex-nowrap post-row mt-3 mb-3">
                                <div class="d-flex align-items-center flex-wrap justify-content-start post-box col-6">
                                    <div><h4 class="text-capitalize">@listing.Location,<br/> <small style="color:#aaa">Nigeria</small></h4></div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end col-6">
                                    <div class="mr-2"><a href="#" class="btn btn-outline-primary" style="width:120px;">More details</a></div>
                                </div>
                            </div>
                        </div>
                    }
                   
                </div>
                <div class="text-center p-3"><a href="#" class="btn btn-success">View more jobs</a></div>
            </div>
        }
        

        <!--Signup-->
        <div class="signup-box p-3 pt-5 pb-5 border">
            <div class="container">
                <div class="mb-4"><h1 style="font-weight:bold; color:skyblue;">Take step to make a better career choice</h1></div>
                <div>
                    <h1 class="text-light">SIGN-UP</h1>
                    <div class="grouped-btns d-flex">
                        <a asp-action="register" asp-controller="account" asp-route-accType="applicant" class="btn-outline-primary" id="applicant">Applicant</a>
                        <a asp-action="register" asp-controller="account" asp-route-accType="employer" class="btn-primary" id="employer">Employer</a>
                    </div>
                </div>
            </div>
        </div>

        <!--Partners-->
        <div class="partners-box pb-5 pt-3 bg-white">
            <div class="container ">
                <div class="title-wrap">
                    <div class="title text-center p-4 ">
                        <h2 class="section-sub-heading-title">Partners</h2>
                        <div class="section-sub-heading-desc">Companies you could work with</div>
                    </div>
                </div>
                <div class="partners-logo pt-4 pb-3">
                    <div><a href="#"><img src="~/images/patners/img1.png" /></a></div>
                    <div><a href="#"><img src="~/images/patners/img2.png" /></a></div>
                    <div><a href="#"><img src="~/images/patners/img3.jpg" /></a></div>
                </div>
            </div>
        </div>

        <partial name="../Shared/_footerPartial.cshtml" />

    </div>
@section Scripts {
    <script src="~/dist/js/HomeJS.js"></script>
}