@model HomeViewModel
@{
    ViewBag.Title = "Home";
    Layout = "_PublicLayout";
}


    <div style="background:#F4F6F9;">

        <!--Slider-->
        <div class="slider-div">
            <div class="container">
                <div class="slider-area pt-4">
                    <div class="slider-desc animated3 fadeInLeft">
                        <div class="title-wrap"><div class="title"> Your smart choice </div></div>
                        <div class="text">
                            CareersListing offers you the best place to find your dream job.
                        </div>
                        
                        <partial name="../Shared/_SearchPartial.cshtml" />
                    </div>
                    <img src="~/images/slider/img1.png" class="active animated3 fadeInUp " />

                </div>
            </div>
        </div>


        <!--stats-->
        <div class="stats bg-white pt-4 pb-5">
            <div class="container">
                <div class="title-wrap pb-4 pb-5">
                    <div class="title text-center ">
                        <h2 class="section-sub-heading-title">Our Statistics</h2>
                        <div class="section-sub-heading-desc">The numbers speaks for themselves</div>
                    </div>
                </div>
                <div class="d-flex flex-nowrap stats-box-cover">
                    <div class="stats-box">
                        <h1>1,234</h1>
                        <div class="section-sub-heading-desc">Recent posted jobs</div>
                    </div>
                    <div class="stats-box">
                        <h1>567</h1>
                        <div class="section-sub-heading-desc">Registered companies</div>
                    </div>
                    <div class="stats-box">
                        <h1>8,910</h1>
                        <div class="section-sub-heading-desc">Registered accounts</div>
                    </div>
                </div>
            </div>
        </div>

        <!--Recent jobs-->
        @if(Model.NumberOfListings > 0)
        {
            <div class="recent-posts p-4 ">
                <div class="container">
                    <div class="title-wrap">
                        <div class="title text-center p-4 pb-5">
                            <h2 class="section-sub-heading-title">Most Recent Jobs</h2>
                        </div>
                    </div>
                    @foreach(var listing in Model.Listings)
                    {
                        var photo = "~/images/logos/" + @listing.Company.Logo;
                        <div class="row post-cover bg-white text-black-50 ">
                            <div class="col-md-6 d-flex align-items-center flex-nowrap post-row mt-3 mb-3">
                                <div class="post-box col-3">
                                    <div class="logo-cover">
                                        <div class="logo-cover-inner">
                                            @if (listing.Company.Logo == null)
                                            {
                                                <i class="fa fa-briefcase fa-2x text-light"></i>
                                            }
                                            else
                                            {
                                                <img src="@photo" alt="@listing.Company.Name" asp-append-version="true" />
                                            }
                                        </div>
                                    </div>
                                    <div><a href="#">@listing.Company.Name</a></div>
                                </div>
                                <div class="post-box col-9">
                                    <div><div class="badge badge-btn badge-info text-capitalize">@listing.Duration</div></div>
                                    <div><h5 class="text-capitalize">@listing.JobTitle</h5></div>
                                    <div class="text-capitalize">In : @listing.Industry </div>
                                    <div><small style="color:#aaa">@listing.DaysAgo</small></div>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex flex-nowrap post-row mt-3 mb-3">
                                <div class="d-flex align-items-center flex-wrap justify-content-start post-box col-6">
                                    <div><h4 class="text-capitalize">@listing.Location,<br/> <small style="color:#aaa">Nigeria</small></h4></div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end col-6">
                                    <div class="mr-2">
                                        <a asp-action="Job" asp-controller="home" asp-route-id="@listing.Id" class="btn btn-outline-primary" style="width:120px;">More details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                   
                </div>
                <div class="text-center p-3"><a asp-action="Jobs" asp-controller="Home" class="btn btn-success">View more jobs</a></div>
            </div>
        }
        

        <!--Signup-->
        <div class="signup-box p-3 pt-5 pb-5 border">
            <div class="container">
                <div class="mb-4"><h1 style="font-weight:bold; color:skyblue;">Take step to make a better career choice</h1></div>
                <div>
                    <h1 class="text-light">SIGN-UP</h1>
                    <div class="grouped-btns d-flex">
                        <a asp-action="register" asp-controller="account" asp-route-accType="applicant" class="btn-outline-primary" id="applicant">Applicant</a>
                        <a asp-action="register" asp-controller="account" asp-route-accType="employer" class="btn-primary" id="employer">Employer</a>
                    </div>
                </div>
            </div>
        </div>

        <!--Partners-->
        <div class="partners-box pb-5 pt-3 bg-white">
            <div class="container ">
                <div class="title-wrap">
                    <div class="title text-center p-4 ">
                        <h2 class="section-sub-heading-title">Partners</h2>
                        <div class="section-sub-heading-desc">Companies you could work with</div>
                    </div>
                </div>
                <div class="partners-logo pt-4 pb-3">
                    <div><a href="#"><img src="~/images/patners/img1.png" /></a></div>
                    <div><a href="#"><img src="~/images/patners/img2.png" /></a></div>
                    <div><a href="#"><img src="~/images/patners/img3.jpg" /></a></div>
                </div>
            </div>
        </div>

        <partial name="../Shared/_FooterPartial.cshtml" />

    </div>
@section Scripts {
    <script src="~/dist/js/HomeJS.js"></script>
}