@model CompanyViewModel
@{
    ViewBag.Title = "Manage Company";
    Layout = "../Administration/_AdminLayout";
    var sn = 0;
}



<div class="row">

    <!-- left column -->
    <div class="col-sm-12">
        <!-- general form elements -->
        <div class="card card-primary card-outline">

                <div class="row p-3">
                    <!-- general form elements -->
                    <div class="col-md-5">
                        <div>@ViewBag.ErrorMessage</div>
                        <!-- form start -->
                        <form role="form" enctype="multipart/form-data" method="post" asp-action="Company">
                            <div class="no-bullet"  asp-validation-summary="ModelOnly"></div>
                            <div class="card-body">
                                <input asp-for="ExistingLogo" hidden />
                                <input asp-for="ExistingCertificate" hidden />

                                <div class="row mb-2">
                                    <div class="col-sm-12">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                        <div class="form-group">
                                            <label asp-for="Name"></label>
                                            <input asp-for="Name" placeholder="Company Name" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                        <div class="form-group">
                                            <label asp-for="Email"></label>
                                            <input asp-for="Email" placeholder="Email" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <span asp-validation-for="Website" class="text-danger"></span>
                                        <div class="form-group">
                                            <label asp-for="Website"></label>
                                            <input asp-for="Website" placeholder="Website" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label asp-for="Street"></label>
                                            <input asp-for="Street" placeholder="Street" class="form-control" />
                                        </div>
                                        <span asp-validation-for="Street" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label asp-for="City"></label>
                                            <input asp-for="City" placeholder="City" class="form-control" />
                                        </div>
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label asp-for="Country"></label>
                                            <input asp-for="Country" placeholder="Country" class="form-control" />
                                        </div>
                                        <span asp-validation-for="Country" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="Logo" class="col-form-label"></label>
                                            <div class="">
                                                <div class="custom-file col-sm-12 ">
                                                    <input asp-for="Logo" type="file" class="custom-file-input form-control" />
                                                    <label class="custom-file-label">Pick a logo</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="CompanyCertificate" class="col-form-label"></label>
                                            <div class="">
                                                <div class="custom-file col-sm-12 ">
                                                    <input asp-for="CompanyCertificate" type="file" class="custom-file-input form-control" />
                                                    <label class="custom-file-label">Upload PDF</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a asp-action="Users" asp-controller="Administration" class="btn btn-danger">Cancel</a>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                  
                    <div class="col-md-7">
                        <div class="card mt-5" style="overflow:auto; min-height:450px; min-height:450px;">
                            @if(Model.ListOfCompanies.Count > 0)
                            {
                                <table class="table projects">
                                    <thead>
                                        <tr class="bg-gradient-gray text-white-50" style="">
                                            <th style="width: 5%;" class="text-center">#</th>
                                            <th style="width: 20%;">
                                                COMPANY
                                            </th>
                                            <th style="width: 30%;" class="text-center">
                                                WEBSITE & EMAIL
                                            </th>
                                            <th style="width: 20%;" class="text-center">
                                                LOCATION
                                            </th>
                                            <th style="width: 25%;" class="text-center">
                                                MANAGE
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-muted">
                                        @foreach (var company in Model.ListOfCompanies)
                                        {
                                            sn += 1;
                                            <tr>
                                                <td class="text-center">@sn</td>
                                                <td>
                                                    <div>@company.Name</div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="border-bottom pb-2"><small><a href="#">@company.Website</a></small></div>
                                                    <div><small><a href="#">@company.Email</a></small></div>
                                                </td>
                                                <td class="text-center">
                                                    @company.City, @company.Country
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        <form method="post" asp-action="DeleteCompany" asp-controller="Employer" asp-route-id="@company.Id">
                                                            <a asp-action="Company" asp-controller="Employer" asp-route-id="@company.Id"
                                                               style="font-size:14px;" class="btn btn-sm btn-primary m-1"> Edit </a>

                                                            <button type="submit" class="btn btn-sm btn-danger m-1" style="font-size:14px;"
                                                                    onclick="return confirm('Please confirm your action to delete : @company.Name');">
                                                                Delete
                                                            </button>

                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div style="font-size:26px; padding-top:200px;" class="text-center text-black-50">No company record added yet!</div>
                                <div class="text-center">
                                    <i class="fa fa-building text-black-50" style="font-size:70px;"></i>
                                </div>
                            }

                        </div>
                    </div>
                    <!-- /.content-wrapper -->
                </div>
                <!-- /.content-wrapper -->

          
        </div>
    </div>
</div>


@section Scripts{
    <script>
        // when document is ready
        // run the anonymous function
        // on change on custom-file-input element
        // get the value from the element and split it then pop out the last item
        // add the popped out item to the label element
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            })
        })
    </script>
}