@model RegisterViewModel

@{
    ViewBag.Title = "Register New Account";
    Layout = "_AccountLayout";
}


<div class="register-box mt-3"  style="width:360px;">
    <div class="card">
        <div class="card-body register-card-body">
            <div class="">
                <a  asp-action="Index" asp-controller="Home"  style="font-size:41px; color:#0056B3;"><strong><i class="fa fa-briefcase"></i> Careers</strong>Listing</a>
                <div class="mb-3 text-center" style="font-size:24px; color:#ccc;"> - Register - </div>
            </div>

            <form class="" method="post" asp-route-accType="@ViewBag.accType">
                <div asp-validation-summary="ModelOnly" class="text-danger" style="font-size:12px; list-style: none; "></div>
                @if (!String.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="mb-3 text-center alert alert-success" style="font-size:12px">
                        <div  class="text-capitalize text-center">@ViewBag.ErrorTitle</div>
                        @ViewBag.Message
                    </div>
                }
                
                <div><small><span asp-validation-for="LastName" class="text-danger"></span></small></div>
                <div class="input-group mb-3">
                    <input asp-for="LastName" placeholder="Last Name" class="form-control" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div><small><span asp-validation-for="FirstName" class="text-danger"></span></small></div>
                <div class="input-group mb-3">
                    <input asp-for="FirstName" placeholder="First Name" class="form-control" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>

                <div><small><span asp-validation-for="Email" class="text-danger"></span></small></div>
                <div class="input-group mb-3">
                    <input asp-for="Email" placeholder="Email" class="form-control" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div><small><span asp-validation-for="Password" class="text-danger"></span></small></div>
                        <div class="input-group mb-3">
                            <input asp-for="Password" class="form-control" placeholder="Password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div><small><span asp-validation-for="ConfirmPassword" class="text-danger"></span></small></div>
                        <div class="input-group mb-3">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div><small><span asp-validation-for="City" class="text-danger"></span></small></div>
                        <div class="input-group mb-3">
                            <input asp-for="City" class="form-control" placeholder="City">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-map-marker-alt"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div><small><span asp-validation-for="Country" class="text-danger"></span></small></div>
                        <div class="input-group mb-3">
                            <select asp-for="Country" class="form-control">
                                <option value="">---Select Country---</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="Ghana">Ghana</option>
                                <option value="Carmeroon">Carmeroon</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @if(ViewBag.accType != "applicant" && ViewBag.accType != "employer")
                    {
                        <div class="text-danger text-center col-12"><small>@ViewBag.accType</small></div>
                    }
                    else
                    {
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Register As <span class="text-capitalize">@ViewBag.accType</span></button>
                        </div>
                        <!-- /.col -->
                    }

                </div>
            </form>
            <br />

            <a asp-action="Login" asp-controller="Account"><small>Already a member? <span class="text-navy"><b>LOGIN</b></span></small></a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
    <div class="text-white text-center">
        <small>
            Copyright &copy; @DateTime.Now.Year
            <a asp-action="Index" asp-controller="Home" class="text-teal">CareersListing</a>. All rights reserved.
        </small>
    </div>
</div>